<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Details</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/cover.css" rel = "stylesheet">
  </head>

  <body>
		
		<div class="container">
			<h1> <%= user.voornaam + " " + user.achternaam %> </h2>
			<br/>

				<form class="form-horizontal" role="form" action="/edit" method="post" id="details">
				<table class="table table-hover">
					<tr>
						<td>Geslacht</td>
						<td><%= user.geslacht %></td>
					</tr>
					<tr>
						<td>Lengte</td>
						<td><%= user.lengte %></td>
					</tr>
					<tr>
						<td>Gewicht</td>
						<td><%= user.gewicht %></td>
					</tr>
					<tr>
						<td>Geboortedatum</td>
						<td><%= user.geboortedatum.getDate()+'-' + (user.geboortedatum.getMonth()+1) + '-'+user.geboortedatum.getFullYear() %></td>
					</tr>
					<tr>
						<td>Opmerkingen</td>
						<td><textarea class="form-control" rows="4" id="opmerkingen" name="opmerkingen"><%= user.opmerking %></textarea></td>
					</tr>
				</table>
				<input type="hidden" name="id" value=<%= user._id %>>
				<button type="submit" class="btn">Opslaan</button>
				</form>
		</div>
		<br/>
		<div class="container">
			<p>
			<a href="/delete/<%= user._id %>" onclick="return confirm('Weet je zeker dat je deze inschrijvingen wil verwijderen?');"><button class="btn btn-danger" type="button">Verwijder</button></a>
			</p>
		</div>


    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
