<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
		<!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Schrijf je in bij U.S.R. Triton</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/cover.css" rel = "stylesheet">
		<!-- <link href="css/the-big-picture.css" rel="stylesheet"> -->

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover">
            <h1 class="cover-heading">Inschrijven</h1>
						<p class="lead">
						Met behulp van dit programma kun je je
						opgeven als aspirant lid van de
						Utrechtsche Studenten Roeivereeniging
						“Triton”. Dit betekent niet dat je ook
						daadwerkelijk lid kunt worden! Op vrijdag 30 maart wordt via de mail bekend gemaakt wie er zijn ingeloot. 
						Kijk voor meer informatie op <a href="https://www.usrtriton.nl">www.usrtriton.nl</a> of
						<a href="https://www.facebook.com/TritonRoeien/">www.facebook.com/TritonRoeien/</a>.
						</p>
						<p class="lead">
              <a href="/inschrijven" class="btn btn-lg btn-primary">Schrijf je in</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Inschrijfprogramma <a href="http://www.usrtriton.nl">U.S.R. "Triton"</a>, by <a href="https://twitter.com/phuibers">@phuibers</a>.</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
