<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Inschrijven</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrapValidator.css" rel="stylesheet">
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/csi.min.js" type="text/javascript"></script>
	<script src="js/bootstrapValidator.js" type="text/javascript"></script>

	<script src="js/persoon.js" type="text/javascript"></script>
	<script src="js/studie.js" type="text/javascript"></script>
	<script src="js/sport.js" type="text/javascript"></script>
</head>

<body>
<div class="container">

	<h1><a href="#">Inschrijfformulier U.S.R. Triton</a></h1>
	<br/>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#persoon" data-toggle="tab">Persoon</a></li>
		<li><a href="#studie" data-toggle="tab">Studie</a></li>
		<li><a href="#sport" data-toggle="tab">Sport</a></li>
		<li><a href="#triton" data-toggle="tab">Triton</a></li>
	</ul>

	<form class="form-horizontal" role="form" action="/submit" method="post" id="inschrijf-formulier">
		<div class="tab-content">

			<!--	####################
						# Persoonsgegevens #
						#################### -->
			<div class="tab-pane fade in active" id="persoon">
				<br/>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" id="empty" name="empty">
					</div>
				</div>
				<div class="form-group">
					<label for="voornaam" class="col-sm-2 control-label">Voornaam</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="voornaam" name="voornaam" placeholder="Voornaam">
					</div>
				</div>
				<div class="form-group">
					<label for="tussenvoegsel" class="col-sm-2 control-label">Tussenvoegsel</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="tussenvoegsel" name="tussenvoegsel" placeholder="Tussenvoegsel">
					</div>
				</div>
				<div class="form-group">
					<label for="achternaam" class="col-sm-2 control-label">Achternaam</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="achternaam" name="achternaam" placeholder="Achternaam">
					</div>
				</div>
				<div class="form-group">
					<label for="initialen" class="col-sm-2 control-label">Initialen</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="initialen" name="initialen" placeholder="Initialen">
					</div>
				</div>
				<div class="form-group">
					<label for="geboortedatumdag" class="col-sm-2 control-label">Geboortedatum</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="geboortedatumdag" name="geboortedatumdag" placeholder="dd" maxlength="2">
					</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="geboortedatummaand" name="geboortedatummaand" placeholder="mm" maxlength="2">
					</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="geboortedatumjaar" name="geboortedatumjaar" placeholder="jjjj" maxlength="4">
					</div>
				</div>
				<div class="form-group">
					<label for="telefoon" class="col-sm-2 control-label">Telefoonnummer</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="telefoon" name="telefoon" placeholder="Telefoonnummer">
					</div>
				</div>
				<div class="form-group">
					<label for="telefoon-ouders" class="col-sm-2 control-label">Telefoonnummer Ouders</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="telefoon-ouders" name="telefoon-ouders" placeholder="Telefoonnummer Ouders">
					</div>
				</div>
				<div class="form-group">
					<label for="rekening-iban" class="col-sm-2 control-label">Rekeningnummer (IBAN)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="rekening-iban" name="rekening-iban" placeholder="IBAN">
					</div>
				</div>
				<div class="form-group">
					<label for="rekening-bic" class="col-sm-2 control-label">Rekeningnummer (BIC)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="rekening-bic" name="rekening-bic" placeholder="BIC">
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">Email Adres</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" name="email" placeholder="Email Adres">
					</div>
				</div>
				<div class="form-group">
					<label for="adres-kamer" class="col-sm-2 control-label">Kamer</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="adres-kamer" name="adres-kamer" placeholder="Adres">
					</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="postcode-kamer" name="postcode-kamer" placeholder="Postcode">
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="plaats-kamer" name="plaats-kamer" placeholder="Plaats">
					</div>
				</div>
				<div class="form-group">
					<label for="adres-ouders" class="col-sm-2 control-label">Ouders</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="adres-ouders" name="adres-ouders" placeholder="Adres">
					</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="postcode-ouders" name="postcode-ouders" placeholder="Postcode">
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="plaats-ouders" name="plaats-ouders" placeholder="Plaats">
					</div>
				</div>
				<div class="form-group">
					<label for="email-ouders" class="col-sm-2 control-label">Email Adres Ouders</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email-ouders" name="email-ouders" placeholder="Email Adres Ouders">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-primary" href="#studie" type="button" id="persoon-volgende" onclick='activateTab("studie")'>Volgende</a>
					</div>
				</div>
			</div>

			<!--	##########
						# Studie #
						########## -->
			<div class="tab-pane fade" id="studie">
				<br/>
				<div class="form-group">
					<label for="studie" class="col-sm-2 control-label">Studie</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="studie" name="studie" placeholder="Studie">
					</div>
				</div>
				<div class="form-group">
					<label for="instelling" class="col-sm-2 control-label">Instelling</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="instelling" id="instelling-uu" value="uu" checked>
								Universiteit Utrecht
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="instelling" id="instelling-hu" value="hu">
								Hogeschool Utrecht
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="instelling" id="instelling-anders" value="anders">
								Anders, namelijk
							</label>
						</div>
						<br/>
						<div>
							<input type="text" class="form-control" id="andere-instelling" name="andere-instelling" placeholder="Instelling">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="faculteit" class="col-sm-2 control-label">Faculteit</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="faculteit" name="faculteit" placeholder="Faculteit">
					</div>
				</div>
				<div class="form-group">
					<label for="start-studie" class="col-sm-2 control-label">Aanvang studie</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="start-studie" name="start-studie" placeholder="Jaar van aanvang studie">
					</div>
				</div>
				<div class="form-group">
					<label for="einde-studie" class="col-sm-2 control-label">Einde studie</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="einde-studie" name="einde-studie" placeholder="Jaar van (verwacht) einde studie">
					</div>
				</div>
				<div class="form-group">
					<label for="studentnummer" class="col-sm-2 control-label">Studentnummer</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="studentnummer" name="studentnummer" placeholder="Studentnummer">
					</div>
				</div>
				<div class="form-group">
					<label for="vereniging" class="col-sm-2 control-label">Ben je lid van een andere vereniging?</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="vereniging" id="vereniging-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="vereniging" id="vereniging-ja" value="ja">
								Ja, namelijk
							</label>
						</div>
						<br/>
						<div>
							<input type="text" class="form-control" id="andere-vereniging" name="andere-vereniging" placeholder="Vereniging">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="functies" class="col-sm-2 control-label">Bekleed je functies bij een andere vereniging</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="functies" id="functies-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="functies" id="functies-ja" value="ja">
								Ja, namelijk
							</label>
						</div>
						<br/>
						<div>
							<input type="text" class="form-control" id="functies-vereniging" name="functies-vereniging" placeholder="Functie(s)">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-primary" href="#sport" type="button" id="studie-volgende" onclick='activateTab("sport")'>Volgende</a>
					</div>
				</div>
			</div>

			<!--	#################
						# Sportverleden #
						################# -->
			<div class="tab-pane fade" id="sport">
				<br/>
				<div class="form-group">
					<label for="geslacht" class="col-sm-2 control-label">Geslacht</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="geslacht" id="man" value="man" checked>
								Man
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="geslacht" id="vrouw" value="vrouw">
								Vrouw
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="gewicht" class="col-sm-2 control-label">Gewicht</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="gewicht" name="gewicht" placeholder="Gewicht in kg">
					</div>
				</div>
				<div class="form-group">
					<label for="lengte" class="col-sm-2 control-label">Lengte</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="lengte" name="lengte" placeholder="Lengte in cm">
					</div>
				</div>
				<div class="form-group">
					<label for="motivatie" class="col-sm-2 control-label">Waarom wil je lid worden bij de U.S.R. Triton?</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="4" id="motivatie" name="motivatie"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="roeiervaring" class="col-sm-2 control-label">Heb je al roeiervaring?</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="roeiervaring" id="roeiervaring-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="roeiervaring" id="roeiervaring-ja" value="ja">
								Ja
							</label>
						</div>
						<br/>
						<div>
							<input type="text" class="form-control" id="jaren-roeiervaring" name="jaren-roeiervaring" placeholder="Aantal jaren ervaring">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sportervaring" class="col-sm-2 control-label">Welke sporten heb je beoefend?</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="4" id="sportervaring" name="sportervaring"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="trainen-per-week-nu" class="col-sm-2 control-label">Hoe vaak train je gemiddeld per week?</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="trainen-per-week-nu" name="trainen-per-week-nu">
					</div>
				</div>
				<div class="form-group">
					<label for="sportprestaties" class="col-sm-2 control-label">Heb je in het verleden bijzondere sport prestaties behaald? Zo ja, omschrijf deze.</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="4" id="sportprestaties" name="sportprestaties"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="blessures" class="col-sm-2 control-label">Heb je blessures gehad?</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="blessures" id="blessures-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="blessures" id="blessures-ja" value="ja">
								Ja, namelijk
							</label>
						</div>
						<br/>
						<div>
							<input type="text" class="form-control" id="welke-blessures" name="welke-blessures" placeholder="Welke blessures?">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="medisch" class="col-sm-2 control-label">Heb je nog andere relevante medische bijzonderheden?</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="medisch" id="medisch-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="medisch" id="medisch-ja" value="ja">
								Ja, namelijk
							</label>
						</div>
						<br/>
						<div>
							<textarea class="form-control" rows="4" id="medisch-informatie" name="medisch-informatie"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="allergie" class="col-sm-2 control-label">Heb je allergieën?</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="allergie" id="allergie-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="allergie" id="allergie-ja" value="ja">
								Ja, namelijk
							</label>
						</div>
						<br/>
						<div>
							<textarea class="form-control" rows="4" id="allergie-informatie" name="allergie-informatie"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="roken" class="col-sm-2 control-label">Rook je?</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="roken" id="roken-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="roken" id="roken-ja" value="ja">
								Ja
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="vega" class="col-sm-2 control-label">Ben je vegetariër?</label>
					<div class="col-sm-10">
						<div class="radio">
							<label>
								<input type="radio" name="vega" id="vega-nee" value="nee" checked>
								Nee
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="vega" id="vega-ja" value="ja">
								Ja
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-primary" href="#triton" type="button" id="sport-volgende" onclick='activateTab("triton")'>Volgende</a>
					</div>
				</div>
			</div>

			<!--	##########
						# Triton #
						########## -->
			<div class="tab-pane fade" id="triton">
				<br/>
				<div class="form-group">
					<label for="trainen" class="col-sm-4 control-label">Hoeveel wil je per week gaan trainen</label>
					<div class="col-sm-8">
						<div class="radio">
							<label>
								<input type="radio" name="trainen" id="0-1x" value="0-1x" checked>
								0 tot 1 keer per week
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="trainen" id="1-2x" value="1-2x">
								1 tot 2 keer per week
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="trainen" id="2-3x" value="2-3x">
								2 tot 3 keer per week
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="trainen" id="3-4x" value="3-4x">
								3 tot 4 keer per week
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="trainen" id="4+" value="4+">
								4 of meer keer per week
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="shirtmaat" class="col-sm-4 control-label">Welke maat lenteshirt wil je hebben?</label>
					<div class="col-sm-8">
						<div class="radio">
							<label>
								<input type="radio" name="shirtmaat" id="XS" value="XS">
								XS
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shirtmaat" id="S" value="S">
								S
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shirtmaat" id="M" value="M" checked>
								M
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shirtmaat" id="L" value="L">
								L
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shirtmaat" id="XL" value="XL">
								XL
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inschrijfavond" class="col-sm-4 control-label">Ben je beschikbaar voor de inschrijfavond op 5 april (tussen 18:30 en 19:30)?</label>
					<div class="col-sm-8">
						<div class="radio">
							<label>
								<input type="radio" name="inschrijfavond" id="ja" value="ja" checked>
								Ja
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="inschrijfavond" id="nee" value="nee">
								Nee
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-lg" id="inleveren">Inleveren</button>
					*Je kunt je alleen inschrijven als je alle verplichte velden hebt ingevuld!
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</body>
<script>
	function activateTab(tab)
	{
			$('.nav-tabs a[href="#' + tab + '"]').tab('show');
	};
</script>
<script>
	$(document).ready(function()
	{
		setupPersoon();
		setupStudie();
		setupSport();
		$('#inschrijf-formulier').bootstrapValidator(
		{
			message: "Geen juiste invoerwaarde",
			submitButtons: 'button[type="submit"]',
			excluded: [':disabled'],
			feedbackIcons:
			{
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
			},
			fields:
			{
				voornaam:
				{
					validators:
					{
						notEmpty:
						{
							message: "Voornaam is verplicht"
						}
					}
				},
				achternaam:
				{
					validators:
					{
						notEmpty:
						{
							message: "Achternaam is verplicht"
						}
					}
				},
				initialen:
				{
					validators:
					{
						notEmpty:
						{
							message: "Initialen zijn verplicht"
						}
					}
				},
				geboortedatumdag:
				{
					validators:
					{
						between:
						{
							min: 1,
              max: 31,
              message: "Dag tussen 1 en 31"
            },
						notEmpty:
						{
              message: "Geboortedatum is verplicht"
            }
          }
				},
				geboortedatummaand:
				{
					validators:
					{
						between:
						{
							min: 1,
              max: 12,
              message: "Maand tussen 1 en 12"
            },
						notEmpty:
						{
              message: "Geboortedatum is verplicht"
            }
          }
				},
				geboortedatumjaar:
				{
					validators:
					{
						between:
						{
							min: 1980,
              max: 2016,
              message: "Vul je geboortejaar in (jjjj)"
            },
						notEmpty:
						{
              message: "Geboortedatum is verplicht"
            }
          }
				},
				telefoon:
				{
					validators:
					{
						notEmpty:
						{
              message: "Telefoonnummer is verplicht"
            }
          }
				},
				rekening:
				{
					validators:
					{
						notEmpty:
						{
              message: "Rekeningnummer is verplicht"
            }
          }
				},
				email:
				{
					validators:
					{
						notEmpty:
						{
							message: "Email adres is verplicht"
						},
						emailAddress:
						{
							message: "Email adres heeft niet het juiste formaat"
						}
					}
				},
				"adres-kamer":
				{
					validators:
					{
						notEmpty:
						{
              message: "Dit is een verplicht veld. Als je (nog) niet op kamers woont, geef dan je huidige woonadres op (bijv. bij ouders)"
            }
          }
				},
				"adres-ouders":
				{
					validators:
					{
						notEmpty:
						{
              message: "Het adres van (een van) je ouders is verplicht"
            }
          }
				},
				studie:
				{
					validators:
					{
						notEmpty:
						{
              message: "Studie is verplicht"
            }
          }
				},
				"start-studie":
				{
					validators:
					{
						between:
						{
							min: 1000,
              max: 9999,
              message: "Vul het jaartal (4 cijfers) in waarin je begint met je studie"
            },
						integer:
						{
              message: "Vul het jaartal (4 cijfers) in waarin je begint met je studie"
            },
						notEmpty:
						{
              message: "Vul het jaartal (4 cijfers) in waarin je begint met je studie"
            }
          }
				},
				"einde-studie":
				{
					validators:
					{
						between:
						{
							min: 1000,
              max: 9999,
              message: "Vul het jaartal (4 cijfers) in waarin je verwacht je studie af te ronden"
            },
						integer:
						{
              message: "Vul het jaartal (4 cijfers) in waarin je verwacht je studie af te ronden"
            },
						notEmpty:
						{
              message: "Vul het jaartal (4 cijfers) in waarin je verwacht je studie af te ronden"
            }
          }
				},
				gewicht:
				{
					validators:
					{
						notEmpty:
						{
							message: "Gewicht is verplicht"
						},
						integer:
						{
							message: "Geef je gewicht op afgerond in hele kilo's"
						}
					}
				},
				lengte:
				{
					validators:
					{
						notEmpty:
						{
							message: "Lengte is verplicht"
						},
						integer:
						{
							message: "Geef je lengte op in hele centimeters"
						}
					}
				}
			}
		});
	});
</script>
</html>
