<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
		<!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Overzicht</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/cover.css" rel = "stylesheet">
		<script src="js/Chart.js"></script>
  </head>

  <body>
		<div class="container">
			<h1><a href="#">Inschrijvingen</a></h1>
			<br/>
			<h3>IP <%= ipAddress %>:<%= port %></h3>
			<div class="row">
				<canvas id="myChart" width="400" height="400"></canvas>
			</div>
			<br/>
			<%
			var mannen = 0;
			var vrouwen = 0;
			for(var i=0; i < inschrijvingen.length; i++)
			{
				if(inschrijvingen[i].geslacht==="man")
				{
					mannen++;
				}
				else
					vrouwen++;
			}
			%>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"><p class="bg-info" id="mannenText">Mannen: <%= mannen %></p></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"><p class="bg-info" id="vrouwenText">Vrouwen: <%= vrouwen %></p></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"><p class="bg-success">Totaal: <%= inschrijvingen.length%></p></div>
				<div class="col-md-4"></div>
			</div>
			<br/>
			<!-- <div>
				<a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#downloadModal">Download Excel file (per dag)</a>
			</div>
			<br/> -->
			<div>
				<a href="/csv" class="btn btn-lg btn-primary">CSV backup (alle inschrijvingen)</a>
			</div>
			<br/>
			<div>
				<a href="/csv-vandaag" class="btn btn-lg btn-primary">CSV backup (alleen vandaag)</a>
			</div>
			<br/>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Inschrijfdag</th>
						<th>Inschrijftijd</th>
						<th>Voornaam</th>
						<th>Achternaam</th>
						<th>Geslacht</th>
						<th>Geboortedatum</th>
					</tr>
				<thead>
				<tbody>
				<% for(var i=0; i < inschrijvingen.length; i++)
				{
					var user = inschrijvingen[i] %>
					<tr>
						<td><%= (i+1) %></td>
						<td><%= user.inschrijfdatum.getDate() + "-" + (user.inschrijfdatum.getMonth()+1) + "-" + user.inschrijfdatum.getFullYear()%></td>
						<td><%= user.inschrijfdatum.toLocaleTimeString() %></td>
						<td><a href="/details/<%=user._id%>"><%= user.voornaam %></a></td>
						<td><%= user.achternaam %></td>
						<td><%= user.geslacht %></td>
						<td><%= user.geboortedatum.getDate() + "-" + (user.geboortedatum.getMonth()+1) + "-" + user.geboortedatum.getFullYear()%></td>
					</tr>
				<% } %>
				<% 	inschrijvingen.length;
			 			%>
				</tbody>
			</table>

		</div>
		<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						<h4 class="modal-title" id="myModalLabel">Download inschrijvingen als Excel file</h4>
					</div>
					<div class="modal-body">
						<h3>Dagen</h3>
						<%
						var dateArray = [];
					 	for(var i=0; i < inschrijvingen.length; i++)
						{
							var user = inschrijvingen[i];
							var dateString = user.inschrijfdatum.getDate() + "-" + (user.inschrijfdatum.getMonth()+1) + "-" + user.inschrijfdatum.getFullYear();
							if (dateArray.indexOf(dateString) == -1)
							{
								dateArray.push(dateString);
							}
						} %>
					 	<% for(var i=0; i < dateArray.length; i++)
						{
							var date = dateArray[i]; %>
							<div class="checkbox">
								<label>
									<input type="checkbox" value='<%=date%>' >
									<%= date %>
								</label>
							</div>
						<%
					 	}
						%>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
						<button type="button" class="btn btn-success" id="download">Download</button>
					</div>
				</div>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
		<script>


			$(document).ready(function()
			{


				var ctx = $("#myChart").get(0).getContext("2d");
				var myNewChart = new Chart(ctx);

				var mannen = parseInt($("#mannenText").text().split(":")[1]);
				var vrouwen = parseInt($("#vrouwenText").text().split(":")[1]);

				var data = [
				{
					value: mannen,
					color: "#00CCFF"
				},
				{
					value : vrouwen,
					color : "#FF6699"
				}];

				var options = 
				{
						animationEasing : "easeInBack"
				}
				new Chart(ctx).Pie(data,null);


				var downloadButton = document.getElementById('download');

				function download()
				{
    			alert(document.URL);
				}

				downloadButton.onclick = download;
			});
		</script>
  </body>
</html>
