<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
		<!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Succesvol ingeschreven</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/cover.css" rel = "stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover">
            <h1 class="cover-heading">Je bent nu ingeschreven</h1>
						<p class="lead">
						  Gefeliciteerd, uw inschrijving is voltooid!
							Vrijdag worden de mensen die zijn ingeloot bekend gemaakt.
							De loting zal via de mail bekend worden gemaakt
							Voor meer informatie, bekijk <a href="https://usrtriton.nl/vereniging/lid-worden">usrtriton.nl/vereniging/lid-worden</a>.
						</p>
						<p class="lead">
              <a href="/" class="btn btn-lg btn-primary">Terug naar inschrijven</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Inschrijfprogramma <a href="http://www.usrtriton.nl">U.S.R. "Triton"</a>, by <a href="https://twitter.com/phuibers">@phuibers</a>.</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
